@charset "utf-8";

.c_right{
    float: right;
    width: 350px;
  }

  
    .column_fix_wrap {
      position: relative;
      width: 350px;
      background-color: #fff;
      overflow: auto;
  }
  
  .column_right.is_bfixed .column_fix_wrap {
    position: fixed;
    top: auto;
    bottom: 36px;
    transition: bottom .3s cubic-bezier(.215,.61,.355,1);
}

    .sc_login .link_login {
      display: block;
      padding: 15px 0;
      margin-top: 11px;
      background-color: #19ce60;
      border: 1px solid #15c654;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      font-size: 13px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
  }
  
  .sc_login .login_msg {
      padding-left: 3px;
      color: grey;
      font-size: 12px;
      line-height: 16px;
      margin: 0;
  }
  .sc_login {
      padding: 16px 16px 12px 17px;
      background-color: #f7f9fa;
      border: 1px solid #dae1e6;
      line-height: 16px;
  }
  
  .sc_login .sub_area {
      margin: 14px 8px 0 4px;
      font-size: 12px;
      line-height: 10px;
    
  }
  
  .sc_login .sub_area .link_join:hover{
   border-bottom: 1px solid lightgrey;
  }
  
  .sc_login .sub_area .link_look1:hover{
   border-bottom: 1px solid lightgrey;
  }
  
  .sc_login .sub_area .link_look:hover{
   border-bottom: 1px solid lightgrey;
  }
  
  .sc_login .sub_area a{
      text-decoration: none;
      color: #202020;
  }
  
  .sc_login .sub_area .look_box {
      float: left;
  }
  
  .sc_login .sub_area .look_box .dot {
      font-size: 20px;
      color: lightgrey;
  }
  
  .sc_login .sub_area .fas{
    color: gray;
  }
  
  .sc_login .sub_area .link_join .fas{
    color: lightgrey; 
  }
  
  
  .sc_login .sub_area .link_join{
    float: right;
  }
  
  .sc_login .sub_area:after {
      content: "";
      display: table;
      table-layout: fixed;
      clear: both;
      
  }
  
  .sc_timesquare {
      position: relative;
      height: 47px;
      margin: 12px 0;
      margin-top: 16px;
      border: 1px solid #dae1e6;
      letter-spacing: -.25px;
  }
  
  .sc_timesquare .card_wrap {
      overflow: hidden;
      height: 47px;
      padding-right: 67px;
       line-height: 22px;
  }
  
  
  .sc_timesquare .card_nav {
      position: absolute;
      top: 11px;
      right: 10px;
      overflow: hidden;
  }
  
  .sc_timesquare .card_nav .fas {
  width: 22px;
  height: 22px;
  color: rgba(0, 0, 0, 0.486);
  font-weight: 550;
  text-align: center;
  line-height: 20px;
  border: none;
  }
  .sc_timesquare .card_nav :hover{
    background-color:ghostwhite;
  }
  
  
  .sc_timesquare .card_nav .btn_nav3 {
      float: left;
      background-color: #fff;
      border: 1px solid #e4e8eb;
  }
  
  .sc_timesquare .card_nav .btn_nav3+.btn_nav3 {
      margin-left: -1px;
  }
  
  .sc_timesquare .news_badge3{
    border: 1px solid black;
    border-radius: 11px;
   padding: 3px 8px;
    
  }
  
  .sc_timesquare .card_news{
    text-decoration: none;
    font-size: 12px;
    color: #202020;
    height: 47px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    will-change: transform;
    transform: translate3d(0px, 0px, 0px);
  margin-left: 10px;
 
  
  }
  .sc_timesquare .card_news .news3{
  padding-left: 10px;
  }